@model LanchesMac.ViewModels.PedidoLancheViewModel

@{
    ViewData["Title"] = "PedidoLanches";
    decimal totalPedido = 0;
}

<h3>Lanches do Pedido</h3>
<hr />

<h5>Pedido:  @Html.DisplayFor(model => @Model.Pedido.PedidoId)</h5>
<h5>Cliente:  @Html.DisplayFor(model => @Model.Pedido.Nome)</h5>
<h5>Data:  @Html.DisplayFor(model => @Model.Pedido.PedidoEnviado)</h5>
<h5>Entrega:  @Html.DisplayFor(model => @Model.Pedido.PedidoEntregueEm)</h5>

<table class="table">
    @foreach (var item in @Model.Pedido.PedidoItens)
    {
        totalPedido += (@item.Lanche.Preco * @item.Quantidade);
        <tr>
            <td align="right">
                <h5>@Html.DisplayFor(modelItem => item.Lanche.Nome)</h5>
            </td>
            <td align="right">
                <img src="@item.Lanche.ImagemUrl" class="img-fluid" height="100" width="100">
            </td>
            <td align="right">
                <h5>@string.Format("{0:C}", item.Lanche.Preco)</h5>
            </td>
            <td align="right">
                <h5>(@Html.DisplayFor(modelItem => item.Quantidade))</h5>
            </td>
        </tr>
    }
    <tr>
        <td colspan="2">&nbsp;</td>
        <td align="right">
            <h5>Total do Pedido : @string.Format("{0:C}", @totalPedido)</h5>
        </td>
    </tr>
</table>
<a asp-action="Index" class="btn btn-outline-info">Retornar</a>

